nav {
  display: flex !important;
  justify-content: space-between;
  padding: 10px 25px;
  margin-bottom: 25px;
  box-shadow: 2px 2px 2px lightgrey;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  padding: 0 10px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  color: black;
}

ul {
  display: flex;
  list-style: none;
}

.listItem {
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: black;
}

.listItem:hover {
  color: red;
}
